.background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background: #0a0a0a;
}




.canvas-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Make sure it's behind the blobs */
  height: 100vh;
  width: 100vw;
  background: #1a002b; /* Deep purple */
}


@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}